<%- include('./base/header.ejs') %>
<div class="container">
    <div class="alert bg-success my-3">
      <h4 class="text-center" style="color:white"> STUDENT LIST</h4>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <table class="table-text-center">
            <thead>
                <tr>
                    <th>ROLL NO</th>
                    <th>FIRSTNAME</th>
                    <th>LASTNAME</th>
                    <TH>FATHERNAME</TH>
                    <th>AADHARCARDNO.</th>
                    <th>MOBILENO.</th>
                </tr>
                
            </thead>
            <% students.forEach((student)=>{ %>
                <tr>
                    <td><%=student.rollNo%></td>
                    <td><%=student.firstName%></td>
                    <td><%=student.lastName%></td>
                    <td><%=student.fatherName%></td>
                    <td><%=student.aadharCardNo%></td>
                    <td><%=student.mobileNo%></td>
                </tr>

           <% })%>
            
        </table>
    </div>
  </div>
<%- include('./base/footer.ejs') %>